{{ define "main" }}

<div class="hero-bg">
    <div class="hero" style="background-image: url({{ .Params.Hero }});"></div>
</div>

<div class="container">
    <div class="content content2column content-1-1">
        <div class="content-left">
            <h2>{{ .Params.Subtitle }}</h2>
            <P>
                {{ .Content }}
            </P>
                <div class="button-container">
                    <a href="/gallery" class="button">View Gallery</a>
                </div>
        </div>
        <div class="content-right">
            <div class="slider">
                {{ range .Params.Images }}
                    <div class="slide">
                        <img src="{{ .image }}" alt="" />
                    </div>
                {{ end }}
                <a href="javascript:void(0)" class="slider-btn slider-btn-prev"></a>
                <a href="javascript:void(0)" class="slider-btn slider-btn-next"></a>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-bg">
    <div class="container">
        <div class="testimonials">
            <h2>Testimonials</h2>
            {{ range .Params.Testimonials }}
                <div>
                    <img src="/img/icon-openquote.svg" />
                    <p>{{ .text }}</p>
                    <img src="/img/icon-closequote.svg" />
                </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}