<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Lato:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/basicLightbox.min.css">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <title>{{ .Title }} | Bliss Cake Art</title>
</head>