{{ define "main" }}

<div class="title-bg">
    <div class="container">
        <div class="title">
            <h1>Contact</h1>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        {{ with .Site.GetPage "contact" }}
            <div class="contact-left">
                <h2>{{ .Params.Subtitle }}</h2>
                {{ .Content }}
                <div class="social">
                    {{ with .Site.GetPage "master" }}
                        <a href="{{ .Params.FacebookUrl }}" target="_blank"><img src="/img/icon-fb.jpg" alt="Facebook" /></a>
                        <a href="{{ .Params.InstagramUrl }}" target="_blank"><img src="/img/icon-insta.jpg" alt="Instagram" /></a>
                    {{ end }}
                </div>
            </div>
            <div class="contact-right">
                <h2>{{ .Params.ThankYouTitle }}</h2>
                <p>{{ .Params.ThankYouText | markdownify }}</p>
            </div>
        {{ end }}
    </div>
</div>

{{ end }}